
#chatbutton {

    position: fixed;
    border-radius: 50%;
    right: 5px;
    bottom: 5px;
    display: block;


}
#chatbutton_button {
    border-radius: 50%;
    height: 6em;
}
#x_button {
    margin-left: 213px;
}
.btn-default {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
.btn-default:hover {
    color: #fff;
    background-color: #4c4c4c;
    border-color: #4c4c4c;
}
#box {
    width: fit-content;
    max-width: 80%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 10px;
    margin: 6px;
    margin-left: auto;
    height: fit-content;
    border-radius: 10px 10px 0px 10px;
    background-color: #96bdde;
}
#res_box {
    width: fit-content;
    max-width: 80%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    margin: 6px;
    height: fit-content;
    border-radius: 10px 10px 10px 0px;
    background-color: #96bdde;
}
#used_box {
    width: fit-content;
    max-width: 80%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 6px;
    margin-left: auto;
    height: fit-content;
    border-radius: 10px 10px 0px 10px;
    background-color: #96bdde;
}
#used_res_box {
    width: fit-content;
    max-width: 80%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 6px;
    height: fit-content;
    border-radius: 10px 10px 10px 0px;
    background-color: #96bdde;
}
#submit_input {
    padding-right: 5em;
}
#submit_button {
    position: fixed;
    right: 6px;
    bottom: 6px;
    border-radius: 0px 0px 8px;
}
#x_div {
    background-color: rgb(51, 51, 51);
}
#form {
margin-bottom: 0px;
width: 250px;
}
#c_div {
    position: fixed;
    background-color: white;
    right: 5px;
    bottom: 5px;
    border: 2px solid;
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    display: block;
}
#c {
    overflow: auto;
    height: 280px;
    width: 244px;
    background-color: rgb(244, 244, 244);
}
::-webkit-scrollbar{
    height: 4px;
    width: 2px;
    background: gray;
}

h4 {

    margin-top: 35px;

}

